In [1]:
a = set()
print(a)

set()

In [2]:
a.add(1)
print(a)

{1}

In [3]:
a.add(2)
print(a)

{1, 2}

In [4]:
a.add(2)
print(a)

{1, 2}

In [5]:
for i in a:
    print(i)

1
2

In [6]:
my_list = [1, 1, 2, 4, 2]

In [7]:
my_set = set()
for i in my_list:
    my_set.add(i)
print(my_set)
# duplicates are rejected

{1, 2, 4}

In [8]:
new_list = list()
for i in my_set:
    new_list.append(i)
print(new_list)

[1, 2, 4]

In [9]:
b = set()
b.add('apple')
b.add('banana')
b.add(1)
print(b)

{1, 'banana', 'apple'}

In [10]:
sum(my_set)

7